 @import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto+Condensed:ital,wght@1,300&display=swap');
body {
  margin:0;
  padding:0;
} 
.new-navbar:hover{
    color:#403f2f !important; 
    background-color: #dbdac1;
    border-radius:5%;
}
.new-navbar2:hover{
  color:#403f2f !important; 
  
  border-radius:5%;
}
.dashboard:hover{
  color:#b21cc9 !important;
}
.new-navbar3:hover{
  color:white !important; 
  
  border-radius:5%;
}
.categoryCard:hover{
  color:#f54565 !important;
  padding: 0.15px;
}
.categoryCard{
  color:#54c0d1;
}
.content {
  margin: auto;
  margin-top: 170px;
  padding: 50px;
  border-radius: 4px;
}
